# ./configure artifacts
Makefile
/config.log
/config.status

src/tfconfig.h
src/tfdefs.h
unix/vars.mak

# Build artifacts
*.o
src/tf
tf-lib/tf-help.idx

src/makehelp
src/TF_LIBDIR.build

src/makehelp.dSYM
